@import "fonts";
@import "colors";

ul{
  background-color: $theme-color;
}
ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover {
  background-color: white;
  color:$theme-color;
}
.button-basic  {
  border: none;
  padding: 15px 30px;
  text-align: center;
  cursor: pointer;
  background-color: $theme-color;
  color:white;
}