img{
    border-radius: 5%;
    border:4px solid tomato;
    margin:auto;
}
a:link,a:visited,a:hover,a:active{
    color:tomato;
    text-decoration: none;
}
p{
    color:gray;
}
#grad1 {
    background-color: silver; /* For browsers that do not support gradients */
    background-image: linear-gradient(0deg, white, silver);
  }
  #grad2 {
    background-color: silver; /* For browsers that do not support gradients */
    background-image: linear-gradient(0deg, silver, white);
  }