/* PADDING All SIDES */

.p-0{
	padding:0;
}
.p-1{
	padding:1%;
}
.p-2{
	padding:2%;
}
.p-3{
	padding:3%;
}
.p-4{
	padding:4%;
}
.p-5{
	padding:5%;
}
.p-6{
	padding:6%;
}
.p-7{
	padding:7%;
}
.p-8{
	padding:8%;
}
.p-9{
	padding:9%;
}
.p-10{
	padding:10%;
}
.p-15{
	padding:15%;
}
.p-20{
	padding:20%;
}
.p-25{
	padding:25%;
}

/* PADDING TOP */

.p-t-0{
	padding-top:0;
}
.p-t-1{
	padding-top:1%;
}
.p-t-2{
	padding-top:2%;
}
.p-t-3{
	padding-top:3%;
}
.p-t-4{
	padding-top:4%;
}
.p-t-5{
	padding-top:5%;
}
.p-t-6{
	padding-top:6%;
}
.p-t-7{
	padding-top:7%;
}
.p-t-8{
	padding-top:8%;
}
.p-t-9{
	padding-top:9%;
}
.p-t-10{
	padding-top:10%;
}
.p-t-15{
	padding-top:15%;
}
.p-t-20{
	padding-top:20%;
}
.p-t-25{
	padding-top:25%;
}
.p-t-40{
	padding-top:40%;
}

/* PADDING RIGHT */

.p-r-0{
	padding-right:0;
}
.p-r-1{
	padding-right:1%;
}
.p-r-2{
	padding-right:2%;
}
.p-r-3{
	padding-right:3%;
}
.p-r-4{
	padding-right:4%;
}
.p-r-5{
	padding-right:5%;
}
.p-r-6{
	padding-right:6%;
}
.p-r-7{
	padding-right:7%;
}
.p-r-8{
	padding-right:8%;
}
.p-r-9{
	padding-right:9%;
}
.p-r-10{
	padding-right:10%;
}
.p-r-15{
	padding-right:15%;
}
.p-r-20{
	padding-right:20%;
}
.p-r-25{
	padding-right:25%;
}

/* PADDING BOTTOM */

.p-b-0{
	padding-bottom:0;
}
.p-b-1{
	padding-bottom:1%;
}
.p-b-2{
	padding-bottom:2%;
}
.p-b-3{
	padding-bottom:3%;
}
.p-b-4{
	padding-bottom:4%;
}
.p-b-5{
	padding-bottom:5%;
}
.p-b-6{
	padding-bottom:6%;
}
.p-b-7{
	padding-bottom:7%;
}
.p-b-8{
	padding-bottom:8%;
}
.p-b-9{
	padding-bottom:9%;
}
.p-b-10{
	padding-bottom:10%;
}
.p-b-15{
	padding-bottom:15%;
}
.p-b-20{
	padding-bottom:20%;
}
.p-b-25{
	padding-bottom:25%;
}

/* PADDING LEFT */

.p-l-0{
	padding-left:0;
}
.p-l-1{
	padding-left:1%;
}
.p-l-2{
	padding-left:2%;
}
.p-l-3{
	padding-left:3%;
}
.p-l-4{
	padding-left:4%;
}
.p-l-5{
	padding-left:5%;
}
.p-l-6{
	padding-left:6%;
}
.p-l-7{
	padding-left:7%;
}
.p-l-8{
	padding-left:8%;
}
.p-l-9{
	padding-left:9%;
}
.p-l-10{
	padding-left:10%;
}
.p-l-15{
	padding-left:15%;
}
.p-l-20{
	padding-left:20%;
}
.p-l-25{
	padding-left:25%;
}

/* PADDING LEFT AND RIGHT (X Axis) */

.p-x-1{
	padding-left:1%;
	padding-right:1%;
}
.p-x-2{
	padding-left:2%;
	padding-right:2%;
}
.p-x-3{
	padding-left:3%;
	padding-right:3%;
}
.p-x-4{
	padding-left:4%;
	padding-right:4%;
}
.p-x-5{
	padding-left:5%;
	padding-right:5%;
}
.p-x-6{
	padding-left:6%;
	padding-right:6%;
}
.p-x-7{
	padding-left:7%;
	padding-right:7%;
}
.p-x-8{
	padding-left:8%;
	padding-right:8%;
}
.p-x-9{
	padding-left:9%;
	padding-right:9%;
}
.p-x-10{
	padding-left:10%;
	padding-right:10%;
}
.p-x-15{
	padding-left:15%;
	padding-right:15%;
}
.p-x-20{
	padding-left:20%;
	padding-right:20%;
}
.p-x-25{
	padding-left:25%;
	padding-right:25%;	
}

/* PADDING TOP AND BOTTOM (Y Axis) */

.p-y-1{
	padding-top:1%;
	padding-bottom:1%;
}
.p-y-2{
	padding-top:2%;
	padding-bottom:2%;
}
.p-y-3{
	padding-top:3%;
	padding-bottom:3%;
}
.p-y-4{
	padding-top:4%;
	padding-bottom:4%;
}
.p-y-5{
	padding-top:5%;
	padding-bottom:5%;
}
.p-y-6{
	padding-top:6%;
	padding-bottom:6%;
}
.p-y-7{
	padding-top:7%;
	padding-bottom:7%;
}
.p-y-8{
	padding-top:8%;
	padding-bottom:8%;
}
.p-y-9{
	padding-top:9%;
	padding-bottom:9%;
}
.p-y-10{
	padding-top:10%;
	padding-bottom:10%;
}
.p-y-15{
	padding-top:15%;
	padding-bottom:15%;
}
.p-y-20{
	padding-top:20%;
	padding-bottom:20%;
}
.p-y-25{
	padding-top:25%;
	padding-bottom:25%;	
}
.p-y-30{
	padding-top:30%;
	padding-bottom:30%;	
}
.p-y-40{
	padding-top:40%;
	padding-bottom:40%;	
}